._loading-overlay {
  height: 100%;
}

.curser {
  cursor: pointer;
}

div.inline {
  display: inline-block;
}

.modal {
  display: block!important;
}

/* used with modals */
div.overlay {
  background-color: grey;
  height: 100%;
  left: 0;
  opacity: .2;
  position: fixed;
  top: 0;
  width: 100%;
}

.scene-container {
  margin-bottom: 3rem;
  margin-bottom: 3rem;
  height: 100%;
  position: fixed;
  width: 100%;
}
.scene-container > .schedule {
  overflow: scroll;
}

.swal-button {
  border-radius: 2px;
  background-color: #72747c;
  font-size: 14px;
  border: 1px solid #9a846c;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-footer {
  text-align: center;
}
