html {
  background: url(/img/shop1.jpg) no-repeat center;
  touch-action: manipulation;
}

html, body {
  background: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-image {
  background: url(/img/shop1.jpg) no-repeat center;
  opacity: 0.2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#root {
  height: 100%;
}
